.languages {
    position: fixed;
    bottom: 1em;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;

    font-size: .75em;

    a {
        margin: auto;
        padding: .5em;
        min-width: 5em;
    }
}

.current {
    color: white;
    background: rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px black;
}